<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://cxf.apache.org/jaxws
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.gm.webtest.soap.ws"/>

    <bean id="wss4jInIntegerceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
        <constructor-arg>
            <map>
                <!-- 用户认证(明文密码) -->
                <entry key="action" value="UsernameToken"/>
                <entry key="passwordType" value="PasswordText"/>
                <entry key="passwordCallbackRef"
                       value-ref="serverPasswordCallBackHandler"/>
            </map>
        </constructor-arg>
    </bean>


    <!--<jaxws:server id ="webServiceTest" address="/soap/hello">-->
        <!--<jaxws:serviceBean>-->
            <!--<ref bean="com.gm.webtest.soap.ws.impl.WebServiceTestImpl"/>-->
        <!--</jaxws:serviceBean>-->
    <!--</jaxws:server>-->

   <jaxws:endpoint id ="helloService" implementor="com.gm.webtest.soap.ws.impl.WebServiceTestImpl" address="/soap/hello">
    <jaxws:inInterceptors>
        <ref bean="wss4jInIntegerceptor"/>
    </jaxws:inInterceptors>
   </jaxws:endpoint>

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

  <!-- client -->

    <!--<bean id="wss4jOutIntegerceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">-->
        <!--<constructor-arg>-->
            <!--<map>-->
                <!--&lt;!&ndash; 用户认证(明文密码) &ndash;&gt;-->
                <!--<entry key="action" value="UsernameToken"/>-->
                <!--<entry key="user" value="client"/>-->
                <!--<entry key="passwordType" value="PasswordText"/>-->
                <!--<entry key="passwordCallbackRef"-->
                       <!--value-ref="clientPasswordCallBackHandler"/>-->
            <!--</map>-->
        <!--</constructor-arg>-->
    <!--</bean>-->
    <!--<jaxws:client id ="helloService" serviceClass="com.gm.webtest.soap.ws.WebServiceTest" address="http://localhost:8080/ws/soap/hello">-->
        <!--<jaxws:outInterceptors>-->
            <!--<ref bean="wss4jOutIntegerceptor"/>-->
        <!--</jaxws:outInterceptors>-->
    <!--</jaxws:client>-->


    <jaxrs:server address="/rest">
        <jaxrs:serviceBeans>

            <ref bean="restTestImpl"/>
        </jaxrs:serviceBeans>
    <jaxrs:providers>
        <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
    </jaxrs:providers>

    </jaxrs:server>

</beans>